body{

    background-image: url("photo/background1.jpg");
    color: darkorchid;
}
h1{
    color: aqua;
    text-align: left;
    border: 4px dotted yellow;
}
a{
    color:blue;
}
p{
    border: 5px dotted white;
    font-family: Verdana;
    font-size: 20px;
    color:moccasin;
    padding: 50px;

}
.contacts{
    color:lightcoral;
}
.pages{
    color: olivedrab;
}
#me{
    border: 1px solid black;
    border-width:10px 5px;
    color: aquamarine;
    margin: 50px;
    padding:10px;
}
p>i{
    color: darkred;
}